
{% extends "homepage.html" %}

{% block content %}

    <div class="container px-5 py-0 mx-auto">
        <div class="flex flex-col text-center w-full mb-10">
            <h1 class="sm:text-4xl text-3xl font-medium title-font  mt-7 text-gray-900">Contact Us</h1>
        </div>
    </div>
    <section class="text-gray-600 body-font relative ">



        <div class="container flex justify-center py-20 mx-auto ">
            <div class="lg:w-2/3 md:w-1/2 bg-gray-300 rounded-lg overflow-hidden sm:mr-10 p-10 ">
                <div class="bg-white relative flex flex-wrap py-6 rounded shadow-md">
                    <div class="lg:w-1/2 px-6">
                        <h2 class="title-font font-semibold text-gray-900 tracking-widest text-xs">ADDRESS</h2>
                        <p class="mt-1">Near Jain International School, Yerla Village, Kalmeshwar Road, Nagpur,
                            Maharashtra 441501</p>
                    </div>
                    <div class="lg:w-1/2 px-6 mt-4 lg:mt-0">
                        <h2 class="title-font font-semibold text-gray-900 tracking-widest text-xs">EMAIL</h2>
                        <a class="text-indigo-500 leading-relaxed">amishau.cse@sbjit.edu.in
                            <br>riag.cse@sbjit.edu.in<br>
                            rounakb.cse@sbjit.edu.in<br>
                            ruthvikp.cse@sbjit.edu.in
                        </a>
                        <h2 class="title-font font-semibold text-gray-900 tracking-widest text-xs mt-4">PHONE</h2>
                        <p class="leading-relaxed">123-456-7890</p>
                    </div>
                </div>
            </div>
        </div>
    </section >
 
{%endblock%}