
<!DOCTYPE html>
<html>
  <head>
      <script async src="https://www.googletagmanager.com/gtag/js?id=UA-114303539-1"></script>
      <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());

        gtag('config', 'UA-114303539-1');
      </script>

            <!-- Google Tag Manager -->
      <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
      new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
      j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
      'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
      })(window,document,'script','dataLayer','GTM-PH43T2Q');</script>
      <!-- End Google Tag Manager -->


      <title>About Us | ImagePad</title>

      <meta property="og:image:width"      content="1376">
	  <meta property="og:image:height"     content="1032">
      <meta property="og:description" name="description" content="
       Hello stranger. We're an independent digital marketing studio from Zagreb, Croatia. We cover a rounded package of services, including digital strategy and planning, UX analysis and design, web and app development, media planning and performance optimization.">

      <meta name="viewport" content="width=device-width, initial-scale=1">
    	
      <link rel="stylesheet" href="{{ url_for('static', filename='Layout/css/bootstrap.min.css') }}">
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

      <link rel="stylesheet" type="text/css" href="//cdnjs.cloudflare.com/ajax/libs/cookieconsent2/3.0.3/cookieconsent.min.css" />
      <script src="//cdnjs.cloudflare.com/ajax/libs/cookieconsent2/3.0.3/cookieconsent.min.js"></script>


      <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

      <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/1.20.2/TweenLite.min.js"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/1.20.2/easing/EasePack.min.js"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/1.20.2/plugins/CSSPlugin.min.js"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/1.20.2/plugins/ScrollToPlugin.min.js"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/1.20.2/TimelineLite.min.js"></script>

      <script src="https://cdnjs.cloudflare.com/ajax/libs/ScrollMagic/2.0.5/ScrollMagic.min.js"></script>
      <script src="{{ url_for('static', filename='JSLIBS/ScrollMagic/animation.gsap.min.js') }} "></script>
      <script src="{{ url_for('static', filename='JSLIBS/ScrollMagic/debug.addIndicators.min.js') }}"></script>

      <script src="{{ url_for('static', filename='JSLIBS/gsap/TimelineLite.min.js') }}"></script>
      <script src="{{ url_for('static', filename='JSLIBS/barba/barba.min.js') }}" type="text/javascript"></script>
      

      <link rel="stylesheet" href="{{ url_for('static', filename='JSLIBS/lity.min.css') }}"> 
      
      <script src="{{ url_for('static', filename='JSLIBS/lity.min.js') }}"></script> 
      
      <link href="{{ url_for('static', filename='PandaMonk.css') }}" rel="stylesheet" type="text/css">
    	<meta name="viewport" content="width=device-width, initial-scale=0.8"/>
      <style>* { margin: 0; padding: 0; }</style>





  </head>


  <body style="background-color: #094b65;">
        <!-- Google Tag Manager (noscript) -->
    <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-PH43T2Q"
    height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
    <!-- End Google Tag Manager (noscript) -->

        <div style="height: 40vh; font-family: 'Helvetica-Condensed-Light'; display: flex; align-items: center; justify-content: center;">
            <center>  <h1 style="color: aliceblue; font-size: 6rem; font-weight: 900;">About Us</h1>  </center>
        </div>
                <div class="row bigBlackRow" style="position: relative; overflow:visible;">

                		<div id='BlockScreenCont' >
								<div id='leftBlockLastCall' class="leftBlock"> 
									<div id="headlineBlackBlock" class="mediumMobileFont">WE'D LOVE TO</br><span style="color: #e31d65">WHAT MATT</span></div>
								</div>
								<div id='rightBlockLastCall' class="rightBlock"> 
									<div id="headlineBlackBlockRight" class="mediumMobileFont">&nbsp;HEAR ABOUT</br><span style="color: #e31d65">ERS TO YOU</span></div>
								</div>

                		</div>

                		<div id="UnderScreenCont">
                	   		<div id="getInTouch" class="BlackBarNaslov VelikiNaslov" style="height: 100px; text-align: center; color: white; font-size: 80px; margin-top: 480px; display: inline-block;"><a href="contact.html" class='footerHover red1'>GET IN TOUCH 
                                
                                	 <div id='TouchUnderline' class='underline' style="width: 295px; height: 8px; left:0; right:0; margin: auto; top:90px; background-color: #e31d65; display: inline-block; position: absolute; clear:both;"></div> 
                                   </a>
                            	</div>    
                            	<div id='MoreAbout' class="BlackBarNaslov VelikiNaslov" style="color: white; text-align: center; font-size: 36px; margin-top: 240px;">Rounak Bawankule<a href="about.html" class='footerHover blue1'> rounakb.cse@sbjit.edu.in</a></div>
                            	<div id='MoreWorks' class="BlackBarNaslov VelikiNaslov" style="color: white; text-align: center;  font-size: 36px; margin-top: 280px;">Ria Gogiya<a href="work.html" class='footerHover blue1'> riag.cse@sbjit.edu.in </a></div> 
                              <div id='one' class="BlackBarNaslov VelikiNaslov" style="color: white; text-align: center;  font-size: 36px; margin-top: 320px;">Amisha Udapurkar<a href="work.html" class='footerHover blue1'> amishau.cse@sbjit.edu.in </a></div>  	
                            	<div id='two' class="BlackBarNaslov VelikiNaslov" style="color: white; text-align: center;  font-size: 36px; margin-top: 360px;">Ruthvik Parate<a href="work.html" class='footerHover blue1'> ruthvikp.cse@sbjit.edu.in </a></div>  	


                		</div>
              
                      
                </div>
	

                
                

                  <div id='footerContainer' class="FooterDetect" style="margin-bottom: 20px; height: 20vh;">
                      
                      <div id="lastCallTrigger" style="margin-top: 0px; position: absolute;"></div>
                  </div>
                 

            </div> <!-- END OF CONT -->
            
            <script src="{{ url_for('static', filename='JS/scrollConstructer.js') }}"></script>
            
            <script src="{{ url_for('static', filename='JS/pageloadin.js') }}"></script>
            

  </div>
</div>


    
    <script type="text/javascript">

        $( document ).ready(function() {

          
          MainInitAllPagesInit();
        	constructPersistentScroller();
        	constructPandaFooterScroller();
            constructHomeScroller();
            PageLoader();
            FadeInLoader();
        
        }); // END DOC READY

    </script>
         
    <script src="{{ url_for('static', filename='JS/navigacija.js') }} "></script> 
  </body>

</html>